@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    min-width: 300px;
    min-height: 300px;
    margin: auto;
  }
  
  .popup_box{
    width: inherit;
  }
  
  .popup_headings{
    h2{
    padding: 0;
    margin: 0;
    }
  }
  
  .grid {
    display:flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
  }
  
  input{ 
    outline: none;
    max-width: 120px;
  }
  
  .popup_box_select{
    position: relative;
    ul{
      border-radius: 6px;
      padding: 0.5rem 0;
      position: absolute;
      top:8px;
      z-index :2;
      background: #FFF;
      padding-left: 0;
      max-height: 150px;
      overflow-y: auto;
      overflow-x: hidden;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
  
      li{
        list-style:none;
        padding: 0.3rem 0.5rem 0.3rem 0.5rem;
        cursor: pointer;
      }
  
      li:hover{
        text-decoration: underline;
      }
    }
  }
  
  .popup_button{
    all: unset;
    text-align: center;
    font-weight: 700;
    min-width: 200px;
    margin: 0 auto;
    cursor: pointer;
    padding: 0.5rem 0;
    background: rgba(255, 0, 0, 0.3);
  }
  
  .popup_button:focus {
    outline: revert;
  }
  
  .error{
    position: absolute;
    font-size: 10px;
    font-weight: 700;
    margin-top: 0.2rem;
    margin-left: 0.2rem;
    color:red;
  }